body{
    background-image: url(background-image.png);
    background-attachment: fixed;
}

header{
    
   text-align: center;
    text-transform: uppercase;
}

a {
    color:black;

}
.stopka{
    background-color: yellow;
    border-radius: 3em;
}